version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    labels: [dependencies, automated, actions]
    groups:
      actions-minor-patch:
        update-types: [minor, patch]
      actions-major:
        update-types: [major]
  - package-ecosystem: gradle
    directory: /
    schedule:
      interval: weekly
    labels: [dependencies, automated, java]
    groups:
      gradle-minor-patch:
        update-types: [minor, patch]
      gradle-major:
        update-types: [major]
